action-tutorials-py==0.14.4
aenum==3.1.0
alabaster==0.7.11
ament-cmake-test==1.1.6
ament-copyright==0.10.7
ament-cppcheck==0.10.7
ament-cpplint==0.10.7
ament-flake8==0.10.7
ament-index-python==1.2.0
ament-lint==0.10.7
ament-lint-cmake==0.10.7
ament-package==0.13.1
ament-pep257==0.10.7
ament-uncrustify==0.10.7
ament-xmllint==0.10.7
anaconda-client==1.7.2
anaconda-navigator==1.9.2
anaconda-project==0.8.2
angles==1.14.0
appdirs==1.4.3
asn1crypto==0.24.0
astroid==2.0.4
astropy==3.0.4
atomicwrites==1.2.1
attrs==18.2.0
Automat==0.7.0
Babel==2.6.0
backcall==0.1.0
backports.entry-points-selectable==1.1.1
backports.shutil-get-terminal-size==1.0.0
beautifulsoup4==4.6.3
bitarray==0.8.3
bkcharts==0.2
blaze==0.11.3
bleach==2.1.4
bokeh==0.13.0
boto==2.49.0
boto3 @ file:///tmp/build/80754af9/boto3_1623678999017/work
botocore @ file:///tmp/build/80754af9/botocore_1623784183042/work
Bottleneck==1.2.1
brotlipy==0.7.0
bz2file==0.98
catkin-pkg==0.4.23
certifi==2021.5.30
cffi==1.14.0
chardet @ file:///tmp/build/80754af9/chardet_1607706768982/work
click==6.7
cloudpickle @ file:///tmp/build/80754af9/cloudpickle_1598884132938/work
clyent==1.2.2
colorama==0.3.9
commonmark==0.9.1
conda==4.10.3
conda-build==3.15.1
conda-package-handling @ file:///tmp/build/80754af9/conda-package-handling_1618262151086/work
constantly==15.1.0
contextlib2==0.5.5
controller-manager==1.6.0
cryptography @ file:///tmp/build/80754af9/cryptography_1616769182610/work
cv-bridge==3.1.3
cycler==0.10.0
Cython==0.28.5
cytoolz==0.9.0.1
dask==0.19.1
datashape==0.5.4
decorator==4.3.0
defusedxml==0.5.0
demo-nodes-py==0.14.4
diagnostic-aggregator==2.1.3
diagnostic-updater==2.1.3
distlib==0.3.4
distributed==1.23.1
distro==1.5.0
docutils==0.14
domain-coordinator==0.9.2
efficientnet==1.0.0
entrypoints==0.2.3
et-xmlfile==1.0.1
examples-rclpy-executors==0.11.2
examples-rclpy-minimal-action-client==0.11.2
examples-rclpy-minimal-action-server==0.11.2
examples-rclpy-minimal-client==0.11.2
examples-rclpy-minimal-publisher==0.11.2
examples-rclpy-minimal-service==0.11.2
examples-rclpy-minimal-subscriber==0.11.2
fastcache==1.0.2
filelock==3.4.0
Flask==1.0.2
Flask-Cors==3.0.6
future==0.18.2
genpac==2.1.0
gensim @ file:///tmp/build/80754af9/gensim_1613994459750/work
gevent==1.3.6
glob2==0.6
gmpy2==2.0.8
GPUtil==1.4.0
greenlet==0.4.15
gym==0.18.3
h5py==2.8.0
heapdict==1.0.0
html5lib==1.0.1
hyperlink==18.0.0
idna @ file:///home/linux1/recipes/ci/idna_1610986105248/work
image-classifiers==1.0.0
image-geometry==3.1.3
imageio==2.4.1
imagesize==1.1.0
imgaug==0.4.0
importlib-metadata==4.6.1
incremental==17.5.0
interactive-markers==2.2.0
ipykernel==4.9.0
ipython==6.5.0
ipython-genutils==0.2.0
ipywidgets==7.4.1
isort==4.3.4
itsdangerous==0.24
jdcal==1.4
jedi==0.12.1
jeepney==0.3.1
Jinja2==2.10
jmespath @ file:///tmp/build/80754af9/jmespath_1594304593830/work
joblib @ file:///tmp/build/80754af9/joblib_1613502643832/work
joint-state-publisher==2.2.0
jsonschema==2.6.0
jupyter==1.0.0
jupyter-client==5.2.3
jupyter-console==5.2.0
jupyter-core==4.4.0
jupyterlab==0.34.9
jupyterlab-launcher==0.13.1
Keras-Applications==1.0.8
keyring==13.2.1
kiwisolver==1.0.1
launch==0.17.2
launch-ros==0.14.5
launch-testing==0.17.2
launch-testing-ros==0.14.5
launch-xml==0.17.2
launch-yaml==0.17.2
lazy-object-proxy==1.3.1
llvmlite==0.24.0
locket==0.2.0
lxml==4.2.5
Markdown==3.3.4
MarkupSafe==1.0
matplotlib @ file:///tmp/build/80754af9/matplotlib-base_1592846017414/work
mccabe==0.6.1
mistune==0.8.3
mkl-fft==1.3.0
mkl-random==1.1.1
mkl-service==2.3.0
more-itertools==4.3.0
mpmath==1.0.0
msgpack==0.5.6
multipledispatch==0.6.0
nav2-common==1.0.12
nav2-simple-commander==1.0.0
navigator-updater==0.2.1
nbconvert==5.4.0
nbformat==4.4.0
networkx==2.6.3
nltk==3.3
nose==1.3.7
notebook==5.6.0
numba==0.39.0
numexpr @ file:///tmp/build/80754af9/numexpr_1614798504508/work
numpy @ file:///tmp/build/80754af9/numpy_and_numpy_base_1603479632437/work
numpydoc==0.8.0
odo==0.5.1
olefile==0.46
opencv-python==4.5.3.56
openpyxl==2.5.6
osrf-pycommon==2.0.0
packaging==21.3
pandas==0.23.4
pandocfilters==1.4.2
parso==0.3.1
partd==0.3.8
path.py==11.1.0
pathlib2==2.3.2
patsy==0.5.0
pep8==1.7.1
pexpect==4.6.0
pickleshare==0.7.4
Pillow==8.2.0
pkginfo==1.4.2
platformdirs==2.4.0
pluggy==0.7.1
ply==3.11
prometheus-client==0.3.1
prompt-toolkit==1.0.15
psutil==5.4.7
ptyprocess==0.6.0
py==1.6.0
pyasn1==0.4.4
pyasn1-modules==0.2.2
pybullet==3.1.7
pycodestyle==2.4.0
pycosat==0.6.3
pycparser @ file:///tmp/build/80754af9/pycparser_1594388511720/work
pycrypto==2.6.1
pycurl==7.43.0.5
pyflakes==2.0.0
pyglet==1.5.15
Pygments==2.2.0
pylint==2.1.1
pyodbc==4.0.24
pyOpenSSL==19.0.0
pyparsing==2.2.0
pyrealsense2==2.53.1.4623
pyrvo2==0.0.0
PySocks @ file:///tmp/build/80754af9/pysocks_1594394576006/work
pytest==3.8.0
pytest-arraydiff==0.2
pytest-astropy==0.4.0
pytest-doctestplus==0.1.3
pytest-openfiles==0.3.0
pytest-remotedata==0.3.0
python-dateutil==2.7.3
python-qt-binding==1.0.8
pytz==2018.5
PyWavelets==1.3.0
PyYAML==5.4.1
pyzmq==17.1.2
qt-dotgraph==2.0.1
qt-gui==2.0.1
qt-gui-cpp==2.0.1
qt-gui-py-common==2.0.1
QtAwesome==0.4.4
qtconsole==4.4.1
QtPy==1.5.0
quality-of-service-demo-py==0.14.4
rclpy==1.9.3
rcutils==4.0.4
recommonmark==0.7.1
requests @ file:///tmp/build/80754af9/requests_1608241421344/work
resource-retriever==2.5.0
rope==0.11.0
ros2action==0.13.5
ros2bag==0.9.2
ros2cli==0.13.5
ros2component==0.13.5
ros2doctor==0.13.5
ros2interface==0.13.5
ros2launch==0.14.5
ros2lifecycle==0.13.5
ros2multicast==0.13.5
ros2node==0.13.5
ros2param==0.13.5
ros2pkg==0.13.5
ros2run==0.13.5
ros2service==0.13.5
ros2topic==0.13.5
rosbag2-py==0.9.2
rosidl-adapter==2.2.3
rosidl-cli==2.2.3
rosidl-cmake==2.2.3
rosidl-generator-c==2.2.3
rosidl-generator-cpp==2.2.3
rosidl-generator-py==0.11.4
rosidl-parser==2.2.3
rosidl-runtime-py==0.9.1
rosidl-typesupport-c==1.2.1
rosidl-typesupport-cpp==1.2.1
rosidl-typesupport-fastrtps-c==1.2.1
rosidl-typesupport-fastrtps-cpp==1.2.1
rosidl-typesupport-introspection-c==2.2.3
rosidl-typesupport-introspection-cpp==2.2.3
rospkg==1.3.0
rpyutils==0.2.0
rqt-action==2.0.1
rqt-bag==1.1.2
rqt-bag-plugins==1.1.2
rqt-console==2.0.2
rqt-graph==1.2.2
rqt-gui==1.1.2
rqt-gui-py==1.1.2
rqt-msg==1.1.0
rqt-plot==1.1.1
rqt-publisher==1.1.3
rqt-py-common==1.1.2
rqt-py-console==1.0.2
rqt-reconfigure==1.0.8
rqt-robot-monitor==1.0.5
rqt-service-caller==1.0.5
rqt-shell==1.0.2
rqt-srv==1.0.3
rqt-top==1.0.2
rqt-topic==1.4.0
ruamel-yaml-conda @ file:///tmp/build/80754af9/ruamel_yaml_1616016701961/work
s3transfer @ file:///tmp/build/80754af9/s3transfer_1623278116614/work
scikit-image==0.19.2
scikit-learn @ file:///tmp/build/80754af9/scikit-learn_1621370326158/work
scipy @ file:///tmp/build/80754af9/scipy_1616700973326/work
seaborn==0.9.0
SecretStorage==3.1.0
segmentation-models==1.0.1
Send2Trash==1.5.0
service-identity==17.0.0
Shapely==1.8.1.post1
simplegeneric==0.8.1
singledispatch==3.4.0.3
six @ file:///home/linux1/recipes/ci/six_1610970791821/work
smart-open==1.9.0
smclib==3.0.1
snowballstemmer==1.2.1
sortedcollections==1.0.1
sortedcontainers==2.0.5
Sphinx==4.1.1
sphinx-markdown-tables==0.0.15
sphinx-rtd-theme==0.5.2
sphinxcontrib-applehelp @ file:///home/ktietz/src/ci/sphinxcontrib-applehelp_1611920841464/work
sphinxcontrib-devhelp @ file:///home/ktietz/src/ci/sphinxcontrib-devhelp_1611920923094/work
sphinxcontrib-htmlhelp @ file:///tmp/build/80754af9/sphinxcontrib-htmlhelp_1623945626792/work
sphinxcontrib-jsmath @ file:///home/ktietz/src/ci/sphinxcontrib-jsmath_1611920942228/work
sphinxcontrib-qthelp @ file:///home/ktietz/src/ci/sphinxcontrib-qthelp_1611921055322/work
sphinxcontrib-serializinghtml @ file:///tmp/build/80754af9/sphinxcontrib-serializinghtml_1624451540180/work
sphinxcontrib-websupport==1.1.0
spyder==3.3.1
spyder-kernels==0.2.6
SQLAlchemy==1.2.11
sros2==0.10.3
statsmodels==0.9.0
sympy==1.2
tables==3.4.4
TBB==0.2
tblib==1.3.2
teleop-twist-keyboard==2.3.2
terminado==0.8.1
testpath==0.3.1
tf2-geometry-msgs==0.17.5
tf2-kdl==0.17.5
tf2-py==0.17.5
tf2-ros-py==0.17.5
tf2-tools==0.17.5
threadpoolctl @ file:///tmp/tmp9twdgx9k/threadpoolctl-2.1.0-py3-none-any.whl
tifffile==2021.11.2
toolz==0.9.0
topic-monitor==0.14.4
torch==1.8.1
torchaudio==0.8.0a0+e4e171a
torchvision==0.2.2
tornado==5.1
tqdm @ file:///tmp/build/80754af9/tqdm_1615925068909/work
traitlets==4.3.2
transforms3d==0.3.1
trimesh==3.9.23
turtlebot4-diagnostics==0.1.3
turtlebot4-navigation==0.1.2
turtlebot4-tests==0.1.3
Twisted==18.7.0
typing-extensions @ file:///home/ktietz/src/ci_mi/typing_extensions_1612808209620/work
unicodecsv==0.14.1
urllib3 @ file:///tmp/build/80754af9/urllib3_1615837158687/work
virtualenv==20.10.0
wcwidth==0.1.7
webencodings==0.5.1
Werkzeug==0.14.1
widgetsnbextension==3.4.1
wrapt==1.10.11
xacro==2.0.7
xlrd==1.1.0
XlsxWriter==1.1.0
xlwt==1.3.0
zict==0.1.3
zipp==3.5.0
zope.interface==4.5.0
